<div class="shadow- font-mono grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
    <div class="shadow- flex items-center justify-center"><span class="md: lg:shadow-">{{user}}</span></div>
    <div class="flex items-center justify-center"><span class="md:">{{room}}</span></div>
    <div class="flex items-center justify-center shadow-"><span class="md:">{{time}}</span></div>
    <div class="shadow- flex items-center justify-center"><span class="md: lg:shadow-">{{action}}</span></div>
</div>
