<!--Navbar-->
<div class="px-4 py-5 mx-auto border-black border-transparent shadow- shadow-md sm:max-w-xl md:max-w-full md:px-[50px] lg:max-w-screen-xl lg:px-8">

    <div class="relative flex items-center justify-between space-x-[15px]">
        <div class="space-x-[20px] flex">
            <a class="shadow- inline-flex items-center text-center" href="/">
                <span class="shadow- ml-2 text-xl font-bold tracking-wide">Live View</span>
            </a>

            <a class="inline-flex items-center" href="/logs">
                <span class="ml-2 text-xl font-bold tracking-wide text-center">Logs</span>
            </a>

            <a class="inline-flex items-center" href="/user_management">
                <span class="ml-2 text-xl font-bold tracking-wide text-center">User Management</span>
            </a>
        </div>
        <a class="inline-flex items-center justify-center tracking-wide text-white duration-200
                    shadow-md hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none bg-primary
                    rounded-global font-bold h-[32px] px-[12px] shadow-"
           href="/logout">Logout</a>
    </div>
</div>
