<div class="shadow- font-mono grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
    <div class="shadow- flex items-center justify-center"><span class="user_info md: lg:shadow-">{{user}}</span></div>
    <div class="flex items-center justify-center"><span class="uid_info md:">{{uid}}</span></div>
    <div class="flex items-center justify-center shadow-"><span class="perm_info md:">{{permissions}}</span></div>
    <div class="shadow- space-x-[22px] flex items-center justify-center">
        <div class="space-x-[4px] relative items-center justify-between shadow- flex flex-col gap-y-[4px] sm:flex-row md:">
            <button class="delete_button bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">
                Delete</button>
            <button class="edit_button change_button bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">
                Edit</button>
        </div>
    </div>
</div>
