

<!--User Management-->
<div class="shadow-md max-w-[1280px] mt-[32px] container mx-auto shadow- space-y-[5px] 2xl:space-y-[10px]">
    <div class="shadow- font-bold grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
        <div class="flex items-center justify-center"><span class="md:">User</span></div>
        <div class="flex items-center justify-center"><span class="md:">UID</span></div>
        <div class="flex items-center justify-center shadow-"><span class="md:">Permitted Rooms</span></div>
        <div class="flex items-center justify-center"><span class="md:">Enter text</span></div>
    </div>
    <hr class="shadow- bg-primary-500 h-[2px]"/>
    <div class="shadow- font-mono grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
        <div class="shadow- flex items-center justify-center"><span class="md: lg:shadow-">Test-User</span></div>
        <div class="flex items-center justify-center"><span class="md:">Today</span></div>
        <div class="flex items-center justify-center shadow-"><span class="md:">C1</span></div>
        <div class="shadow- space-x-[22px] flex items-center justify-center">
            <div class="space-x-[4px] relative items-center justify-between shadow- flex flex-col gap-y-[4px] sm:flex-row md:">
                <button id="dgvhzb" class="bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">Delete
                </button>
                <button id="qdsCkc" class="bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">Change
                </button>
            </div>
        </div>
    </div>
    <div class="shadow- font-mono grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
        <div class="shadow- flex items-center justify-center"><span class="md: lg:shadow-">Test-User</span></div>
        <div class="flex items-center justify-center"><span class="md:">Today</span></div>
        <div class="flex items-center justify-center shadow-"><span class="md:">C1</span></div>
        <div class="shadow- space-x-[22px] flex items-center justify-center">
            <div class="space-x-[4px] relative items-center justify-between shadow- flex flex-col gap-y-[4px] sm:flex-row md:">
                <button id="dgvhzb" class="bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">Delete
                </button>
                <button id="qdsCkc" class="bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">Change
                </button>
            </div>
        </div>
    </div>
    <hr class="shadow- bg-primary-500 h-[2px]"/>
    <div class="shadow- font-mono grid-cols-4 grid align-baseline mx-[2%] xl:mx-[5%]">
        <div class="shadow- flex items-center justify-center">
            <input class="w-[90%] rounded-global xl:flex" placeholder="Enter your text" type="text"/>
        </div>
        <div class="flex items-center justify-center">
            <input class="w-[90%] rounded-global xl:flex" placeholder="Enter your text" type="text"/>
        </div>
        <div class="flex items-center justify-center shadow-">
            <input class="w-[90%] rounded-global xl:flex" placeholder="Enter your text" type="text"/>
        </div>
        <div class="shadow- flex items-center justify-center">
            <button id="pnnsmb" class="bg-primary text-white px-4 rounded-global py-[2px] lg:py-[0px]">Delete</button>
        </div>
    </div>
</div>
